
body{
    margin: 0;
    background-color: #056679;
    font-family: sans-serif;
}

.Input-Section{
    background-color: #ececec;
    padding: 18px;
    border-radius: 10px;
   box-shadow: 0 7px 6px #e00b0b3b;
}

Input::placeholder{
    color:silver;
}

.Todo-Container{
   
    width: 350px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

h1{
    margin: 0;
    margin-bottom: 15px;
}


.Input-Section input{
    border-radius: 5px;
    border: 1px solid silver;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
} 


ul{
    text-align: left;
    padding: 0%;
   

}


ul li{
    
    display: flex;
    list-style: none;
    background-color: rgb(247, 251, 251);
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    
    
}

.icon-right {
    margin-left: auto;
    cursor: pointer; 
    color: red;
    transition: color 0.3s; 
}